@charset "UFT-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    main {
        width: 100%;
        height: 100%;
        
        .bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .off_duru {
            visibility: hidden;
        }
        
        .duru {
            width: 44vw;
            height: 95vh;
            left: 28vw;
            top: 0vh;
            position: absolute;
            overflow: hidden;
  
            .duru2 {
                width: 100%;
                top: 0px;
                height: 103%;
                position: absolute;
                overflow: hidden;
                z-index: 2;
  
                img {
                    width: 44vw;
                    height: 99vh;
                    object-fit: cover;
                }
  
                .display {
                  z-index: 3;
                  position: absolute;
                  top: 8vh;
                  left: 2.8vw;
                  width: 38.5vw;
                  height: 38.5vw;
                  overflow: hidden;
  
                  img {
                    position: absolute;
                    width: 68.4vw;
                    height: 38.5vw;
                    left: -14.95vw;
                    top: 0vh;
                    object-fit: contain;
                  }
                }
            }
  
            .duru1 {
                width: 100%;
                height: 5vh;
                top: 0vh;
                left: 0%;
                position: absolute;
                z-index: 3;
                animation: duru1_move linear 1s;
                animation-fill-mode: forwards;
                filter: blur(0.5vh);
  
                @keyframes duru1_move {
                    0% {top: 0vh;}
                    100% {top:90vh;filter: blur(0.0vh);}
                }
  
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
  
            .bg3 {
                width: 100%;
                height: 95vh;
                top: 5vh;
                left: 0%;
                position: absolute;
                z-index: 3;
                animation: duru3_move linear 1s;
                animation-fill-mode: forwards;
                overflow: hidden;
  
                .img_bg {
                    width: 100vw;
                    height: 100vh;
                    top: -5vh;
                    left: -28vw;
                    position: absolute;
                    object-fit: fill;
                    animation: bg_move linear 1s;
                    animation-fill-mode: forwards;
                }
  
                @keyframes bg_move {
                    0% {
                        top: -5vh;
                        left: -28vw;
                    }
                    100% {
                        top: -95vh;
                        left: -28vw;
                    }
                }
  
                @keyframes duru3_move {
                    0% {
                        top: 5vh;
                        height: 95vh;
                    }
                    100% {
                        top:95vh;
                        height: 0vh;
                    }
                }
            }
        }

        .deco1 {
            width: 50vw;
            height: 100vh;
            top: -100vh;
            left: -10vw;
            position: absolute;
            animation: deco_move 0.8s ease-in;
            animation-fill-mode: forwards;
  
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
  
        .deco2 {
        width: 50vw;
        height: 100vh;
        top: -100vh;
        left: 60vw;
        position: absolute;
        animation: deco_move 0.8s ease-in;
        animation-fill-mode: forwards;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        }

        @keyframes deco_move {
        0%{top: -100vh;}
        100%{top: 0vh;}
        }

        @keyframes fadein {
        0%{opacity: 0;}
        100%{opacity: 1;}
        }

        @keyframes big {
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
        }

        .off_announce_1 {
            visibility: hidden;
          }
    
        .announce_1 {
        width: 40vw;
        height: 14vh;
        opacity: 0.9;
        left: 30vw;
        top: 75vh;
        position: absolute;
        z-index: 5;
        opacity: 0;
        animation: fadein 0.5s linear;
        animation-fill-mode: forwards;
        animation-delay: 1s;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .txt1 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 6.2vh "Nanum Brush Script";
            position: absolute;
            top: -1.3vh;
            left: 0px;
            color: #fff;
        }
        }

        .select_btn_box {
            right: -10vw;
            bottom: 2vh;
            width: 21vw;
            height: 35vh;
            position: absolute;
            z-index: 2;
            overflow: hidden;
            transform: rotateZ(30deg);
            animation: btn_appear ease-out 0.5s;
            animation-fill-mode: forwards;
    
            @keyframes btn_appear {
                0%{
                    right: -50vw;
                    bottom: 40vh;
                    transform: rotateZ(30deg);
                }
                100%{
                    right: 0vw;
                    bottom: 0vh;
                    transform: rotateZ(0deg);
                }
            }
    
            .no_btn {
                top: 0vh;
                left: 3%;
                width: 100%;
                height: 50%;
                position: absolute;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
                .no {
                    position: absolute;
                    top: 63%;
                    left: 37%;
                    font: 4vh "Nanum Brush Script";
                }
            }
    
            .yes_btn {
                width: 73%;
                height: 25%;
                top: 56%;
                left: 3.5%;
                position: absolute;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
    
                .yes {
                    position: absolute;
                    top: 24%;
                    left: 56%;
                    font: 4vh "Nanum Brush Script";
                }
            }
    
            .yes_btn_click {
                width: 73%;
                height: 25%;
                top: 56%;
                left: 3.5%;
                position: absolute;
                animation: click_motion 0.5s linear;
                cursor: pointer;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
    
                .yes {
                    position: absolute;
                    top: 24%;
                    left: 56%;
                    font: 4vh "Nanum Brush Script";
                }
            }
        }
    }
    
}
@keyframes click_motion {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}