<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="set_port_motor" default="/dev/ttyMotor"/>
  <arg name="set_port_lidar" default="/dev/ttyLiDAR"/>
  <arg name="set_port_imu" default="/dev/ttyIMU"/>
  <arg name="set_joy_en" default="0"/>

  <include file="$(find hongdo_ros_bringup)/launch/hongdo_ros_motor.launch">
    <arg name="set_port" value="$(arg set_port_motor)"/>
  </include>

 <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port"         type="string" value="$(arg set_port_lidar)"/>  
    <param name="frame_id"     type="string" value="$(arg set_lidar_frame_id)"/>
  </node>
</launch>