<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="set_port_motor" default="/dev/ttyMotor"/>
  <arg name="set_port_lidar" default="/dev/ttyLiDAR"/>
  <arg name="set_port_imu" default="/dev/ttyIMU"/>
  <arg name="set_joy_en" default="0"/>

  <!-- motor -->

  <include file="$(find hongdo_ros_bringup)/launch/hongdo_ros_motor.launch">
    <arg name="set_port" value="$(arg set_port_motor)"/>
  </include>
 
  <!-- dynamixel -->

  <include file='$(find dynamixel_workbench_operators)/launch/hongdo_ros_joint_operator.launch'/>
  <include file='$(find dynamixel_workbench_controllers)/launch/hongdo_ros_dynamixel_controllers.launch'/>

  <!-- lidar 
  ->

  <! <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port"         type="string" value="$(arg set_port_lidar)"/>  
    <param name="frame_id"     type="string" value="$(arg set_lidar_frame_id)"/>
  </node> -->

  <!--obstacle cluster detect  -->

  <include file='$(find hongdo_ros_obstacle)/launch/hongdo_ros_obstacle.launch'/>
  
  <!-- web node -->
  
  <include file='$(find hongdo_ros_bringup)/launch/hongdo_ros_web_connect.launch'/>

   
</launch>